{% extends "base.html" %}
{% block title %}Treatment in India with clear costs{% endblock %}
{% block content %}
  {% include "website/home/hero.html" %}
  {% include "website/home/quick_actions.html" %}
  {% include "website/home/specialities.html" %}
  {% include "website/home/treatments.html" %}
  {% include "website/home/why_us.html" %}
  {% include "website/home/hospitals.html" %}
  {% include "website/home/doctors.html" %}
  {% include "website/home/journey.html" %}
  {% include "website/home/stories.html" %}
  {% include "website/home/faqs_and_guides.html" %}
{% endblock %}
